<div class="container ml-3">

  <h2>商品管理</h2>
  <div class="d-flex flex-column">
    <label class="ims-sidebar-category-label">商品一覧</label>
    <label class="ims-sidebar-category-label">商品登録</label>
  </div>

  <h2>テナント管理</h2>
  <div class="d-flex flex-column">
    <label class="ims-sidebar-category-label">テナント一覧</label>
  </div>

</div>