<%= render "shared/second-header"%>
<div class="contents">
  <div class="content">
    <h3>レンタルを承りました。<br>
    ありがとうございます。</h3>
    
    <%= link_to 'トップページへ戻る',root_path, class: 'btn' %>
  </div>
</div>

<%= render "shared/footer"%> 