<%= render "shared/header" %>

<div class="mein-container">
  <div class="w-50">
    
    <h1>マイページ</h1>

    <hr>

    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="row">
          <div class="col-2 d-flex align-items-center">
            <i class="fas fa-archive fa-3x"></i>
          </div>
          <div class="col-10 d-flex align-items-center ml-2 mt-3">
            <div class="d-flex flex-column">
              <label for="user-name">レンタル履歴</label>
              <p>レンタル履歴を確認できます</p>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <%= link_to user_path do %>
            <i class="fas fa-chevron-right fa-2x"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer"%>